{erl_opts, [ {parse_transform, lager_transform}, warnings_as_errors ]}.

{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}}, % TODO
    {ecall, {git, "https://github.com/vzroman/ecall.git", {branch, "main"}}},
    {epipe, {git, "https://github.com/vzroman/epipe.git", {tag, "v0.1.0"}}},
    {esubscribe, {git, "https://github.com/vzroman/esubscribe.git", {tag, "v0.1.0"}}},
    {elock, {git, "https://github.com/vzroman/elock.git", {tag, "v0.1.0"}}},
    {zaya_leveldb, {git, "https://github.com/vzroman/zaya_leveldb.git", {tag, "v0.1.0"}}},
    {zaya_ets, {git, "https://github.com/vzroman/zaya_ets.git", {tag, "v0.1.0"}}},
    {zaya_ets_leveldb, {git, "https://github.com/vzroman/zaya_ets_leveldb.git", {tag, "v0.1.0"}}},
    {zaya_rocksdb, {git, "https://github.com/vzroman/zaya_rocksdb.git", {tag, "v0.1.0"}}},
    {zaya_ets_rocksdb, {git, "https://github.com/vzroman/zaya_ets_rocksdb.git", {tag, "v0.1.0"}}},
    {zaya_pterm, {git, "https://github.com/vzroman/zaya_pterm.git", {tag, "v0.1.0"}}},
    {zaya_pterm_leveldb, {git, "https://github.com/vzroman/zaya_pterm_leveldb.git", {tag, "v0.1.0"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [zaya]}
]}.

