[
	{zaya, [
		{schema_dir,"./DB"},
		{stop_timeout,600000},	% 1 min
		{start_timeout,60000},	% 1 min
		{max_restarts, 10},
		{max_period, 1000},
		{db_recovery_attempts, 5},
		{min_ulimit, 65535},
		{copy,#{
			batch_size => 100000,
			remote => #{
				attempts => 3,
				live => #{
					flush_tail_timeout => 1000			% 1 sec
				}
			}
		}},
		{transaction_log,#{
			dir => "./TLOG",			% defaults to schema_dir/TLOG
			pool => #{},				% zaya_pool defaults
			rocksdb => #{},				% zaya_rocksdb defaults
			cleanup_interval_ms => 60000,		% 1 min
			ref_wait_timeout_ms => 600000,		% 10 min
			ref_wait_poll_ms => 1000		% 1 sec
		}}
	]}
].
